/*
.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 984px;

}
*/

/*
@media screen and (min-width: 545px) and (max-width: 1024px) {
  .content {
    max-width: 720px;
    margin: 0px 24px 64px;
  }
}
*/
