main {
  margin: auto;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 92px auto;
  max-width: 830px;
}

.main__title {
  color: #fff;
  font-family: "Inter-Bold", sans-serif;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
}

.main__text {
  color: #fff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
}

.main__author {
  color: #fff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
}

.main__description {
  color: #fff;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .main__title {
    max-width: 710px;
    font-size: 45px;
    line-height: 0.8;
    margin: 0;
  }
}

@media screen and (max-width: 544px) {
  .main {
    margin: 64px 16px 38px;
  }
  .main__title {
    font-size: 35px;
    line-height: 1;
  }

  .main__text {
    font-size: 24px;
    line-height: 1.1;
  }

  .main__author {
    font-size: 24px;
    line-height: 1.1;
  }

  .main__description {
    font-size: 15px;
    line-height: normal;
  }
}
